{{/*###
TitleBar=Password
KyutGrill=settings2.jpg
Include=menu.html
MinPrivileges=2
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui stackable grid">
		{{ template "settingsSidebar" . }}
		<div class="twelve wide column">
			<div class="ui segment">
				<form class="ui form" method="post">
					<div class="field">
						<label>{{ .T "Email" }}</label>
						<input tabindex="1" type="email" name="email" value="{{ or .FormData.email .RequestInfo.email }}" required>
					</div>
					<div class="field">
						<label>{{ .T "New password (leave blank if you don't want to change it)" }}</label>
						<input tabindex="2" type="password" name="newpassword" value="{{ .FormData.newpassword }}">
					</div>
					<div class="field">
						<label>{{ .T "Current password" }}</label>
						<input tabindex="3" type="password" name="currentpassword" required>
					</div>
					{{ csrfGenerate .Context.User.ID }}
					{{ ieForm .Gin }}
					<div style="text-align: right">
						<button tabindex="4" type="submit" class="ui blue button">{{ .T "Save" }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}
