{{/*###
NoCompile=true
*/}}
{{ define "clanMembers" }}
{{ with . }}
	<div class="ui three column center aligned stackable grid">
		{{ $teamJSON := teamJSON }}
		{{ range .members }}
			{{/* ignore fokabot */}}
			{{ if ne (int .id) 999 }}
				{{ $tj := index $teamJSON (print .id)}}
				<div class="column">
					<div class="ui left aligned fluid card">
						<div class="image">
							<img src="{{ config "AvatarURL" }}/{{ .id }}" alt="Avatar">
						</div>
						<div class="content">
							<a class="header" href="/u/{{ .id }}">{{ country .country false }}{{ .username }}</a>
							{{ with $tj.real_name }}
								<div class="meta">
									<a>{{ . }}</a>
								</div>
							{{ end }}
						</div>
						<div class="extra content">
							<div title="Registered">
								<i class="sign in icon"></i>
								{{ time .registered_on }}
							</div>
							<div title="Latest activity">
								<i class="sign out icon"></i>
								{{ time .latest_activity }}
							</div>
						</div>
					</div>
				</div>
			{{ end }}
		{{ end }}
	</div>
{{ end }}
{{ end }}