{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>{{ .T "This is a list of the wonderful people who keep Ripple up and running and deal with its community." }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Community Managers" }}</h1>
			<p>
				{{ .T "Community Managers deal with bans, silences, name changes and pretty much everything that has to do with the community." }}<br>
				{{ .T "They take care of our Discord server and reply to emails sent to the support services (email and support.i-need-to.click). Community Managers have a red name in the in-game chat." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 4) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developers" }}</h1>
			<p>
				{{ .T "Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance." }}<br>
				{{ .T "They don't do anything related to the community. Developers have a blue name in the in-game chat." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 2) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Chat Moderators" }}</h1>
			<p>
				{{ .T "Chat moderators manage the chat to make sure The Law&trade; (the rules) is respected." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 30) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "BATs" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 5) }}
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Special thanks" }}</h1>
			<p>{{ .T "Here's a list of people who helped with Ripple." }}</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>
					{{ .T "<b>Franc[e]sco/lolisamurai</b>, for <a href='https://github.com/Francesco149/oppai'>oppai</a>, used as standard pp calculator." | html }}<br>
					oppai is licensed under GPL v3. Our implementation can be found <a href="https://zxq.co/ripple/lets/src/master/pp/rippoppai.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Tom94</b>, for <a href='https://github.com/ppy/osu-performance'>osu-performance</a>, used as a reference for our mania pp calculator." | html }}<br>
					osu-performance is licensed under AGPL v3. Our implementation can be found <a href="https://zxq.co/ripple/lets/src/master/pp/wifipiano2.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Sunpy</b>, for <a href='https://github.com/osufx/catch-the-pp'>catch-the-pp</a>, used as catch the beat pp calculator." | html }}<br>
					catch-the-pp is licensed under GPL v3. Our implementation can be found <a href="https://github.com/osuripple/catch-the-pp">here</a>.
				</li>
				<li>
					{{ .T "<b>jrosdahl</b>, for <a href='https://github.com/jrosdahl/miniircd'>miniircd</a>, used as a base for our IRC server." | html }}<br>
					miniircd is licensed under GPL v2. Our implementation can be found <a href="https://zxq.co/ripple/pep.py/src/master/irc/ircserver.py">here</a>.
				</li>
				<li>{{ .T "<b>Avail</b>, for having hosted Ripple on his server." | html }}</li>
				<li>{{ .T "<b>Angela Guerra</b>, for designing the Ripple logo." | html }}</li>
				<li>{{ .T "<b><a id='everyone' class='clickable'>Everyone</a></b> who has supported the Ripple project by donating or inviting other people." | html }}</li>
			</ul>
		</div>
	</div>
	{{ $ := . }}
	{{ .T "Looking for how you should contact our team? Check out <a href='https://support.i-need-to.click'>this page</a>." | html }}
	<div class="ui modal">
		<div class="header"><h2 class="ui header">{{ .T "They told me these are very cool people." }}</h2></div>
		{{ with .Get "users?sort=donor_expire,desc&l=52" }}
			<div class="content">
				<div class="ui four column grid">
					{{ range .users }}
						<div class="column">
							<h4 class="ui image header">
								<img src="{{ config "AvatarURL" }}/{{ .id }}" class="ui micro rounded image">
								<div class="content">
									<a href="/u/{{ .id }}">{{ .username }}</a>
								</div>
							</h4>
						</div>
					{{ end }}
				</div>
				<!-- Probably most shit coded part of Hanayo -->
				<br>
				<div class="centered">
					<b>{{ $.T "And more..." }}</b><br><br>
					<b>{{ $.T "Do you want to be in this list?" }}</b><br>
					<a href="/donate"><b>{{ $.T "Support us with a donation!" }}</b></a><br>
					<i>{{ $.T "(You get other cool perks too)" }}</i>
				</div>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
